<div class="content">
  <div class="card mat-elevation-z24">

    <div class="card-header card-header-rose card-header-text">
      <div class="card-text">
        <h3 class="card-title">
          Classes
        </h3>
      </div>
    </div>

    <div class="card-body">
      <mat-form-field class="search-children-name w-100">
        <input matInput placeholder="Class Name" (keyup)="applyFilter($event.target.value)">
      </mat-form-field>

      <div class="mat-elevation-z8 mat-elevation-z8 card">
        <div class="card-body">
          <button class="float-right" mat-mini-fab color="warn" (click)="createClassDialog()">
            <i class="material-icons">
              add
            </i>
          </button>
          <table *ngIf="classes.length > 0" mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
              <td
                mat-cell *matCellDef="let row"
                (click)="editClass(row.id)"> {{row.name}}
              </td>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At</th>
              <td mat-cell *matCellDef="let row"> {{row.createdAt === null ? '' : (row.createdAt + '').substr(0, 10)}}</td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Active</th>
              <td mat-cell *matCellDef="let row"
                  (click)="editClass(row.id)">
                <i *ngIf="row.active === false" class="material-icons" style="color: red">
                  close
                </i>
                <i class="material-icons" *ngIf="row.active === true" style="color: green">
                  done_all
                </i>
              </td>
            </ng-container>

            <ng-container matColumnDef="endedAt">
              <th mat-header-cell *matHeaderCellDef>
                End at
              </th>
              <td mat-cell *matCellDef="let row"
                  (click)="editClass(row.id)">
                {{row.endedAt === null ? '' : (row.endedAt + '').substr(0, 10)}}
              </td>
            </ng-container>

            <ng-container matColumnDef="close">
              <th mat-header-cell *matHeaderCellDef>
                Close class
              </th>
              <td mat-cell *matCellDef="let row">
                <i *ngIf="row.active"
                   style="color: red"
                  class="material-icons" (click)="closeClass(row.id)">label_off</i>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

          <span *ngIf="classes.length === 0">No Classes found!</span>
        </div>

      </div>
    </div>
  </div>
</div>
