<div class="content">
  <div class="card mat-elevation-z24">

    <div class="card-header card-header-rose card-header-text">
      <div class="card-text">
        <h3 class="card-title">
          Teacher
        </h3>
      </div>
    </div>

    <div class="card-body">
      <mat-form-field class="search-children-name w-100">
        <input matInput placeholder="Teacher Name" (keyup)="applyFilter($event.target.value)">
      </mat-form-field>

      <div class="mat-elevation-z8 mat-elevation-z8 card">
        <div class="card-body">
          <button class="float-right" mat-mini-fab color="warn" (click)="createTeacherDialog()">
            <i class="material-icons">
              add
            </i>
          </button>
          <table *ngIf="teachers.length > 0" mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td
                mat-cell *matCellDef="let row"
                (click)="editTeacher(row.id)"> {{row.name}} </td>
            </ng-container>

            <!-- ID Column -->
            <ng-container matColumnDef="birthday">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthday </th>
              <td mat-cell *matCellDef="let row"
                  (click)="editTeacher(row.id)"> {{(row.birthday + '').substr(0, 10)}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
              <td mat-cell *matCellDef="let row"
                  (click)="editTeacher(row.id)">
                {{row.gender}}
              </td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef>
                Phone
              </th>
              <td mat-cell *matCellDef="let row"
                  (click)="editTeacher(row.id)">
                {{row.phone}}
              </td>
            </ng-container>

            <ng-container matColumnDef="classId">
              <th mat-header-cell *matHeaderCellDef>
                Current class
              </th>
              <td mat-cell *matCellDef="let row"
                  (click)="editTeacher(row.id)">
                {{row.currentClassName ? row.currentClassName : ''}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

          <span *ngIf="teachers.length === 0">No teachers found!</span>
        </div>

      </div>
    </div>
  </div>
</div>
