<div class="d-flex flex-column create-teacher">
  <div class="d-flex">

    <div class="avatar w-25">
      <img class="w-100 p-1" src="../../../../assets/dashborad_files/avatar.jpg" alt="">
    </div>

    <div class="basic-info w-75 d-flex flex-column">
      <div class="d-flex justify-content-between">
        <mat-form-field>
          <input matInput placeholder="Teacher Name"
                 [(ngModel)]="newTeacher.name">
        </mat-form-field>

        <mat-form-field>
          <input
            #date
            matInput readonly placeholder="Birthday"
            [matDatepicker]="picker"
            (dateInput)="updateBirthday(date.value)"
            (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker touchUi></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-between">
        <mat-form-field>
          <input matInput placeholder="Phone"
                 [(ngModel)]="newTeacher.phone">
        </mat-form-field>

        <mat-form-field>
          <mat-select [(ngModel)]="newTeacher.gender" placeholder="Gender">
            <mat-option value="FEMALE">
              FEMALE
            </mat-option>

            <mat-option value="MALE">
              MALE
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-between">
        <mat-form-field>
          <mat-select [(ngModel)]="newTeacher.currentClassId" placeholder="Current class">
            <mat-option *ngFor="let class of classes" [value]="class.id">
              {{class.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-end action-button">
    <button mat-button mat-raised-button color="primary" class="mr-1" (click)="onCreateTeacher()"><i class="material-icons">add</i></button>
    <button mat-button mat-raised-button class="mr-1" (click)="onCancel()"><i class="material-icons">exit_to_app</i></button>
  </div>

</div>
