<div class="d-flex flex-column create-Child">
  <div class="d-flex">

    <div class="avatar w-25">
      <img class="w-100 p-1" src="../../../../assets/dashborad_files/avatar.jpg" alt="">
    </div>

    <div class="basic-info w-75 d-flex flex-column">
      <div class="d-flex justify-content-between">
        <mat-form-field>
          <input matInput placeholder="Child Name"
                 [(ngModel)]="child.name">
        </mat-form-field>

        <mat-form-field>
          <input
            #date
            matInput readonly placeholder="Birthday"
            [matDatepicker]="picker"
            (dateInput)="updateBirthday(date.value)"
            (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker touchUi></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-between">

        <mat-form-field>
          <mat-select [(ngModel)]="child.gender" placeholder="Gender">
            <mat-option value="FEMALE">
              FEMALE
            </mat-option>

            <mat-option value="MALE">
              MALE
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select [(ngModel)]="child.currentClassId" placeholder="Current class">
            <mat-option *ngFor="let class of classes" [value]="class.id">
              {{class.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-select [(ngModel)]="child.parentsId" placeholder="Parents">
          <mat-option *ngFor="let pa of parents" [value]="pa.id">
            {{pa.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div style="max-height: 300px; overflow: auto">
        <mat-list>
          <h3 mat-subheader>Learnt Classes</h3>
          <mat-list-item *ngFor="let ch of child.classInfos">
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>{{ch.className ? ch.className : ''}}</h4>
            <p mat-line> From: <b>{{(ch.from + '').substr(0, 10)}}</b> <span *ngIf="ch.to !== null"> To: <b>{{(ch.to+'').substr(0 ,10)}}</b></span>
            </p>
          </mat-list-item>
        </mat-list>
      </div>

    </div>

  </div>

  <div class="d-flex justify-content-end action-button">
    <button mat-button mat-raised-button color="primary" class="mr-1" (click)="onSaveChild()"><i class="material-icons">edit</i></button>
    <button mat-button mat-raised-button class="mr-1" (click)="onCancel()"><i class="material-icons">exit_to_app</i></button>
  </div>

</div>
