<div class="d-flex flex-column">
  <mat-form-field>
    <input matInput placeholder="Class Name"
           [(ngModel)]="className">
  </mat-form-field>
  <div class="d-flex justify-content-end">
    <button mat-button mat-raised-button color="primary" class="mr-1" (click)="onCreateClass()"><i class="material-icons">add</i></button>
    <button mat-button mat-raised-button class="mr-1" (click)="onCancel()"><i class="material-icons">exit_to_app</i></button>
  </div>
</div>
