<div class="test">

  <div class="sidebar" data-color="azure" data-background-color="white" data-image="http://presspage-production-content.s3.amazonaws.com/uploads/1065/500_diversitychildrenvertical.jpg">

    <div class="sidebar-wrapper ps-container ps-theme-default" data-ps-id="e42f1de8-92d7-f474-f090-7fc95ac8b07d">

      <div class="user">
        <div class="photo">
          <img src="../assets/dashborad_files/avatar.jpg">
        </div>
        <div class="user-info">
          <a data-toggle="collapse"
             href="https://demos.creative-tim.com/material-dashboard-pro/examples/forms/regular.html#collapseExample"
             class="username">
                    <span>
                       Admin A
                      <b class="caret"></b>
                    </span>
          </a>
          <div class="collapse" id="collapseExample">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link"
                   href="https://demos.creative-tim.com/material-dashboard-pro/examples/forms/regular.html#">
                  <span class="sidebar-mini"> MP </span>
                  <span class="sidebar-normal"> My Profile </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   href="https://demos.creative-tim.com/material-dashboard-pro/examples/forms/regular.html#">
                  <span class="sidebar-mini"> EP </span>
                  <span class="sidebar-normal"> Edit Profile </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   href="https://demos.creative-tim.com/material-dashboard-pro/examples/forms/regular.html#">
                  <span class="sidebar-mini"> S </span>
                  <span class="sidebar-normal"> Settings </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="nav">

        <li class="nav-item "
            [routerLink]="['admin','teacher']"
            routerLinkActive="active">
          <a class="nav-link">
            <i class="material-icons">accessibility_new</i>
            <p> Teachers </p>
          </a>
        </li>

        <li class="nav-item "
            [routerLink]="['admin','children']"
            routerLinkActive="active">
          <a class="nav-link">
            <i class="material-icons">child_care</i>
            <p> Children </p>
          </a>
        </li>

        <li class="nav-item "
            [routerLink]="['admin','class']"
            routerLinkActive="active">
          <a class="nav-link">
            <i class="material-icons">class</i>
            <p> Classes </p>
          </a>
        </li>

        <li class="nav-item "
            [routerLink]="['admin','parents']"
            routerLinkActive="active">
          <a class="nav-link">
            <i class="material-icons">sentiment_very_satisfied</i>
            <p> Parents </p>
          </a>
        </li>

      </ul>


      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
      </div>
      <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;">

        </div>
      </div>
    </div>
    <div class="sidebar-background" style="background-image: url(../assets/dashborad_files/sidebar-1.jpg) "></div>
  </div>


  <div class="main-panel ps-container ps-theme-default" data-ps-id="b4aa4481-94bf-2d89-5fe2-189a6de39fd6">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
      <div class="container-fluid">
        <div class="navbar-wrapper">


          <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
              <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
              <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
              <div class="ripple-container"></div>
            </button>
          </div>

        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end">

        </div>
      </div>
    </nav>
    <!-- End Navbar -->


    <router-outlet></router-outlet>


    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
      <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
      <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
    </div>
  </div>


</div>
