<div class="d-flex flex-column create-parents">
  <div class="d-flex">

    <div class="avatar w-25 d-flex flex-column align-items-center">
      <img class="w-75 p-1" src="../../../../assets/dashborad_files/avatar.jpg" alt="">
      <div class="account">
        <mat-form-field *ngIf="isHasAccount">
          <input matInput placeholder="User name" disabled
                 [(ngModel)]="parents.userName">
        </mat-form-field>

        <mat-form-field *ngIf="!isHasAccount">
          <input matInput placeholder="User name"
                 [(ngModel)]="parents.userName">
        </mat-form-field>

        <mat-form-field>
          <input
            type="password"
            matInput placeholder="Password"
            [(ngModel)]="parents.password">
        </mat-form-field>

        <button
          (click)="onSaveAccount()"
          class="float-right" mat-raised-button>
          Edit account
        </button>
      </div>
    </div>

    <div class="basic-info w-75 d-flex flex-column">
      <div class="d-flex justify-content-between">
        <mat-form-field>
          <input matInput placeholder="parents Name"
                 [(ngModel)]="parents.name">
        </mat-form-field>

        <mat-form-field>
          <input
            #date
            matInput readonly placeholder="Birthday"
            [matDatepicker]="picker"
            (dateInput)="updateBirthday(date.value)"
            (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker touchUi></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-between">
        <mat-form-field>
          <input matInput placeholder="Phone"
                 [(ngModel)]="parents.phone">
        </mat-form-field>

        <mat-form-field>
          <mat-select [(ngModel)]="parents.gender" placeholder="Gender">
            <mat-option value="FEMALE">
              FEMALE
            </mat-option>

            <mat-option value="MALE">
              MALE
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="max-height: 300px; overflow: auto">
        <mat-list>
          <h3 mat-subheader>Childrent</h3>
          <mat-list-item *ngFor="let cl of parents.childrenInfoOfClasses">
            <mat-icon mat-list-icon>child_care</mat-icon>
            <h4 mat-line>{{cl.childName ? cl.childName : ''}}</h4>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-end action-button">
    <button mat-button mat-raised-button color="primary" class="mr-1" (click)="onSaveParents()"><i
      class="material-icons">edit</i></button>
    <button mat-button mat-raised-button class="mr-1" (click)="onCancel()"><i class="material-icons">exit_to_app</i>
    </button>
  </div>

</div>
