/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.content {
  margin-top: 50px;
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
}

table {
  width: 100%;
}

table td {
  cursor: pointer;
}
