<div class="d-flex flex-column">
  <mat-form-field class="w-100">
    <input matInput placeholder="Class Name"
           [(ngModel)]="classs.name">
  </mat-form-field>

  <div class="d-flex justify-content-between">
    <div *ngIf="classs.childrenInfoOfClasses !== null" class="mr-5" style="max-height: 300px;">
      <mat-list>
        <h3 mat-subheader>List children</h3>
        <mat-list-item *ngFor="let ch of classs.childrenInfoOfClasses">
          <mat-icon mat-list-icon>child_care</mat-icon>
          <h4 mat-line>{{ch.childName ? ch.childName : ''}}</h4>
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="classs.teacherInfoOfClasses !== null" style="max-height: 300px;">
      <mat-list>
        <h3 mat-subheader>List Teacher</h3>
        <mat-list-item *ngFor="let t of classs.teacherInfoOfClasses">
          <mat-icon mat-list-icon>accessibility_new</mat-icon>
          <h4 mat-line>{{t.teacherName ? t.teacherName : ''}}</h4>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div class="d-flex justify-content-end action-button">
    <button mat-button mat-raised-button color="primary" class="mr-1" (click)="onSaveClass()"><i class="material-icons">edit</i></button>
    <button mat-button mat-raised-button class="mr-1" (click)="onCancel()"><i class="material-icons">exit_to_app</i></button>
  </div>
</div>
